<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Book</h3>
<form th:action="@{/edit-book/{id}(id=${book.getId()})}" th:method="PATCH" th:object="${book}">
   <p>Name of Book:</p>
    <input type="text" th:field="*{nameBook}" name="nameBook">
    <div style="color: red" th:if="${#fields.hasErrors('nameBook')}" th:errors="*{nameBook}" >nameBook Error </div><br/>
    <p>Name of Author Book</p>
    <input type="text" th:field="*{author}" name="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" >Author Error </div><br/>
    <input type="submit" value="Edit" class="save">
</form>
</body>
</html>